if ENV['RACK_ENV'] == 'development'
  puts "Using development db credentials"
  DB_USER = 'root'
  DB_PASS = 'root'
else
  puts "Using production db credentials"
  # prod passwords go here
  # DB_USER =
  # DB_PASS =
end
